@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
 margin: 0;
 padding: 0;   
 font-family: "Poppins",sans-serif;
 text-transform: capitalize;
 box-sizing: border-box;
 transition: all .3s ease;
/* overflow-x: hidden; */
 text-decoration: none;
}

:root{
    --dark-green:#112a34;
    --green-color:#004047;
    --white-color:#fff;
}

::selection{
    background: var(--green-color);
    color: var(--white-color);
}
html,body{
    width: 100%;
    height: 100%;
}

html{
    font-size: 90%;
}

section{
    padding: 0 8rem;
    width: 100%;
}

.label{
    font-size: 1.1rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    
}
.heading{
    font-size: 3rem;
    margin-top: 1rem;
}
section.home{
    padding: 1rem;
    width: 100%;
    height: 100vh;
}
.home .homeBox{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)),url("../images/photo-1647311022453-ab4353c000db.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius:.5rem;
}

.home .homeBox nav{
    width: 100%;
    height: 65px;
    background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.2));
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index:10 ;
    position: relative;
}

.home .homeBox nav .logo{
    display: flex;
  align-items: center;
    gap: 1rem;
}

.home .homeBox nav .logo .bar{
font-size: 1.35rem;
color: var(--white-color);
cursor: pointer;
display: none;
} 

.home .homeBox nav .logo .bar:hover{
    color: var(--green-color);
}

.home .homeBox nav .logo h3{
color: var(--white-color);
font-weight: 500;

}

.home .homeBox nav .menu .close{
    display: none;

} 

.home .homeBox nav .menu ul{
    display: flex;
    gap: 3rem;
    list-style: none;

}
.home .homeBox nav .menu ul li a{
    color: var(--white-color);
    font-weight: 400;

}
.home .homeBox nav .menu ul li a:hover{
    color: rgb(255, 255, 255/70%);
}
.home .homeBox nav .signup-login{
 display: flex;
    align-items: center;
    gap: 1rem;
}
.home .homeBox nav .signup-login a{
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}
.home .homeBox nav .signup-login a:last-child{
background: var(--green-color);
padding:.3rem 1rem ;
border-radius: 2rem;
}
.home .homeBox nav .signup-login a:hover{
    color: rgb(255, 255, 255/75%);
}

.home .homeBox nav .signup-login a:last-child:hover{
    color:var(--white-color) ;
    background:#02636e ;
}

.home .homeBox .content{
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0 ,-65px);
}
.home .homeBox .content h5{
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home .homeBox .content h1{
    font-size:4rem ;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom:1rem;
}
.home .homeBox .content p{
    color: var(--white-color);
font-weight: 300;
max-width: 40rem;
font-size: 1.3rem;
margin-bottom: 2rem;
text-align: center;
}
.home .homeBox .content .search{
    width: 100%;
    max-width: 38rem;
height: 45px;
background: var(--white-color);
border-radius: 3rem;
display: flex;
align-items: center;
padding: .3rem;
}
.home .homeBox .content .search i{
    color: rgba(0, 0,0 ,.5 );
    margin: 0.6rem;
}


.home .homeBox .content .search input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}
.home .homeBox .content .search button{
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: var(--green-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}
.home .homeBox .content .search button:hover{
 background: #02636e;   
}
.home .homeBox .content h5,.home .homeBox .content h1,.home .homeBox .content p,.home .homeBox .content .search{
 transform: translate(0,100px);   
 opacity: 0;
}


/* travel section start */
.travel .container{
   width: 100%; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4rem;
   padding: 5rem 0;

}
.travel .container .box{
    padding: 0 1rem;
    text-align: center;
    max-width: 30rem;
    transform: translate(0,100px);
    opacity: 0;
}

.travel .container .box img{
    height: 10rem;
}

.travel .container .box h4{
    font-size: 1.2rem;
    margin: 1rem 0;
    margin-top: 2rem;
    font-weight: 600;

}
.travel .container .box p{
    color: #666;
}
 



/* travel section end */


/* destination section starts */


.destinations{
    width: 100%;
    padding-top:4rem ;
    padding-bottom: 4rem;
}

.destinations .label{
    font-size: 1.1rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;

}

.destinations .container{
 width: 100%;

}

.destinations .container .container-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.destinations .container .container-box .heading{
    max-width: 30rem;
}
.destinations .container .container-box .content{
    max-width:35rem ;
}
.destinations .container .container-box .content p{
    line-height: 1.7rem;
    color: #666;
    margin-bottom: 1rem;
}
.destinations .container .container-box .content a{
    color: var(--green-color);
    font-weight: 600;
}

.destinations .container .container-box .content i{
 margin-left: .5rem;   
}

.destinations .container .container-box .content a:hover i{
    margin-left: .1rem;
}

.gallery{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.gallery .box{
    height: 23rem;
    flex-grow: 1;
    overflow: hidden;
    border-radius: .8rem;
    position: relative;
    
}
.gallery .box img{
 width: 100%;
 height: 100%;   
 object-fit: cover;
 object-position:center ;

}
.gallery .box .text{
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem;
    left: 0;
    z-index: 1;
 
}
.gallery .box .text h2{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
    
}
  
.destinations .container .container-box .heading,.destinations .container .container-box .content{
    transform: translate(-200px);
    opacity: 0;
 
}

.destinations .gallery .box{
    transform: translate(0,100px);
    opacity: 0;
 
}

/* Overlay for image boxes (except first box) */
.featured .gallery .box:not(:first-child)::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0)
    );
    z-index: 1;
}

.featured .gallery .box img{
    position: relative;
    z-index: 0;
}

.featured .gallery .box .content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 2rem;
    z-index: 2; /* ABOVE overlay */
}



/* destination section ends */



/* feature section starts */
.featured{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.featured .gallery .box:first-child{
    border: 1px  solid rgba(0, 0, 0, .3);
    padding: 2rem 1.5rem;

}

.featured .gallery .box:first-child h2{
    margin-bottom: .5rem;
}
.featured .gallery .box:first-child p{
    margin-bottom: .5rem;
    color: #666;
}
.featured .gallery .box:first-child a{
    position: absolute;
    bottom: 2rem;
    padding: .4rem 1rem ;
    color: var(--white-color);
    background: var(--green-color);
    border-radius: 3rem;
    font-size: .9rem;
    font-weight: 400;

}
.featured .gallery .box:first-child a:hover{
    background:#02636e ;   
}

.featured .gallery .box:first-child .image{
    width: 40%;
    position: absolute;
    bottom: -1rem;
    right: 2rem;
    
}


.featured .gallery .box .content{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 2rem;
}
.featured .gallery .box .content h2{
    font-weight: 500;
    color: var(--white-color);
}
.featured .gallery .box .content p{
   font-size: .9rem;
   color: #eee; 
}
.featured .gallery .box .content .review-and-idr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .gallery .box .content .review-and-idr .review{
    font-size: .9rem;
    color: #eee;
}


.featured .gallery .box .content .review-and-idr .review i{
color: #ffa600;
}

.featured .gallery .box .content .review-and-idr p{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white-color);
}

.featured .gallery .box{
    transform: translate(0,100px);
    opacity: 0;
}



/* feature section ends */




/* feedback section start */

.feedback{
    background: url("../images/photo-1584794171574-fe3f84b43838.avif");
    background-position: center;
    background-size: cover;
    margin-top: 6rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
}
.feedback .container{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.feedback .container h4{
    color: rgb(255, 255, 255/90%);
}
.feedback .container h2{
    max-width: 40rem;
    color: var(--white-color);
    text-align: center;
}

.feedback .container p{
    color: #eee;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.feedback .voices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem; 
    margin-top: 3rem;
}



.feedback .voices .voice{
    flex:  1 0 320px;
    background: var(--white-color);
    padding: 2rem;
    border-radius: .7rem;

}


.feedback .voices .voice .profile{
    display: flex;
    align-items: center;
}

.feedback .voices .voice .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 2rem;

}

.feedback .voices .voice .profile .detail{
    margin-left: 1rem;
}

.feedback .voices .voice .profile .detail li{
    list-style: none;
}

.feedback .voices .voice .profile .detail li:first-child{
    font-size: 1.1rem;
    color: #000;
    font-weight: 600;
}
.feedback .voices .voice p{
   margin-top: 1rem; 
}

.feedback .container .label,.feedback .container .heading,.feedback .container .paragraph{
    transform: translate(0,10px);
    opacity: 0;
}
 
.feedback .voices .voice{
    transform: translate(0,100px);
    opacity: 0;
}


/* feedback section end */


/* article section start */

.article{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.article .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;

}

.article .container .latest-article,.article .contianer .more-article{
width: 100%;
flex: 1 0 350px;
}

.article .container .latest-article img{
    width: 100%;
    height: 28rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.article .container .latest-article p{
    margin: .8rem 0;
    color: #666;

}
.article .container .latest-article h3{
    font-size: 1.4rem;
    font-weight: 600;
}
.article .container .latest-article .author{
    display: flex;
    align-items: center;
    gap:.7rem ;
}

.article .container .latest-article .author img{
    width: 30px;
    height: 30px;
    border-radius: 3rem;
}
.article .container .latest-article .author p{
    font-size: .9rem;
}
.article .container .more-article{
    display: grid;
    gap: 1rem;
}
.article .container .more-article .box{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.article .container .more-article .box img{
    width: 135px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}
.article .container .more-article .text h3{
    font-size: 1.2rem;
    font-weight: 600;
} 

.article .container .more-article .text li{
    margin-top: .3rem;
    list-style: none;
    color: #666;
}

.article .label,.article .heading{
    opacity: 0;
}

.article .latest-article,.article .more-article .box{
    transform: translate(-200px,0);
    opacity: 0;
    overflow: hidden;
}

/* article section end */

/* footer section start */
.footer{
    padding: 1rem;
    width: 100%;
}

footer .footer{
    background: var(--dark-green);
    /* border-radius: .7rem; */
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}
footer .footer .container{
   display: flex;
   justify-content: space-between; 
   padding-bottom: 1rem;
   border-bottom: 1px solid var(--green-color);
   gap: 2rem;
}
footer .footer .container .detail{
    max-width: 32rem;
}
footer .footer .container .detail h3{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}
footer .footer .container .detail p{
    line-height: 1.6;
    color: rgb(255 255 255/80%);
margin-bottom: 1.5rem;
}

 footer .footer .container .detail h5{
font-size: 1rem;
font-weight: 400;
color: var(--white-color);
} 

footer .footer .container .detail a{
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #00cee4;
    padding: 1px 0;
    display: inline-block;
}

footer .footer .container .detail .social{
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a{
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
}
footer .footer .container h4{
font-size: 1.1rem;
font-weight: 500;
margin-bottom: 0.5rem;
color: var(--white-color);
}

footer .footer .container li{
    list-style: none;
    margin-top: 1rem;
}
footer .footer .container a{
color:rgb(255 255 255/80%) ;

}


footer .footer .container a:hover{
    color: var(--white-color);
}
footer .footer .container span{
  color: #000;
    background: #00cee4;
    font-size: .9rem;
    padding: .1rem;
    border-radius: 500;
}

footer .footer .copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a{
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
}
/* footer section end */


















/* media queries of section start */
@media only screen  and (max-width:1020px)  {
html{
   font-size: 85%; 
}   
 section{
    padding: 0 2rem;
 }

 footer .footer{
    padding: 2rem;
 }
}



@media only screen  and (max-width:910px)  {
  .home .homeBox nav{
    padding: 0 1rem;
  }
   
  .home .homeBox nav .menu{
    gap: 2rem;
  }

  .destinations .container .container-box{
    flex-direction: column;
    align-items: flex-start;
  }
  
  footer .footer .container{
    flex-direction: column;
  }

  
    }




    @media only screen  and (max-width:767px)  {
     .home .homeBox nav .menu{
        display: none;
     }
     
     .home .homeBox nav .logo .bar{
        display: block;
     }
     .home .homeBox nav .menu.active{
        display: block;
        position:absolute ;
        left: -1.5rem;
        top: -1.5rem;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
     }
     .home .homeBox nav .menu .close{
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
        cursor: pointer;
        color: var(--white-color);
        font-size: 2rem;
     }
     .home .homeBox nav .menu .close:hover{
        color: rgb(255 255 255/40%);
     }
     .home .homeBox nav .menu ul{
        flex-direction: column;
        font-size: 1.3rem;
        gap: 1.3rem;
     }
     .home .homeBox nav .menu ul:hover li a{
        color: rgb(255 255 255/40%);
     }

     .home .homeBox nav .menu ul li a:hover{
        color: var(--white-color);
     }
     .home .homeBox .content{
        padding: 2rem;
     }
     .travel .container{
        flex-direction: column;
        padding: 4rem 0;
        gap: 4rem;

     }

     .travel .container .box img{
        height: 6rem;
     }
     .destinations .container .container-box .content{
        font-size:.8rem ;
     }

     .feedback .container p{
        font-size: .9rem;
     }

}

        @media only screen  and (max-width:607px)  {
            .home .homeBox .content h1{
               font-size: 2rem; 
            }
            .home .homeBox .content p{
                font-size: .8rem; 
             }

         
                
.featured .gallery .box:first-child .image {
    bottom: 1rem;
}             
            }


            @media only screen  and (max-width:457px)  {

                section{
                    padding: 0 1rem;
                }
                .article .container .latest-article, .article .container .more-article{
                    width: 100%;
                    flex: 1 0 250px;

                }

                .article .container .more-article .box img{
                    width: 100px;
                    height: 85px;

                }

                .article .container .more-article  .text h3{
                    font-size: 1.1rem;
                }
                .gallery .box .heading{
font-size: 1.8rem;
                }
                
.featured .gallery .box:first-child .image {
    bottom: 1rem;
}

.feedback .voices .voice {
        flex: 1 0 265px;
}




                }



/* media queries of section end */